*
.idea
!.gitignore
!/wp-content/themes/wplanding/functions.php
!/wp-content/themes/wplanding/index.php
!/wp-content/themes/wplanding/header.php
!/wp-content/themes/wplanding/footer.php
!/wp-content/themes/wplanding/home-template.php
!/wp-content/themes/wplanding/landing-parts/paragraphs.php
!/wp-content/themes/wplanding/landing-parts/speakers.php
!/wp-content/themes/wplanding/landing-parts/timeline.php
!/wp-content/plugins/shortcode-plugin/shortcode-plugin.php
!/wp-content/plugins/request-plugin/
!/wp-content/plugins/request-plugin/settings-page.php
!/wp-content/plugins/request-plugin/request-plugin.php
!/wp-content/plugins/request-plugin/front-plugin-page.php
!/wp-content/plugins/request-plugin/includes/init.php
!/wp-content/plugins/request-plugin/functions.js
!*/


